.button {
  border: none;
  border: 1px solid #000;
  border-radius: 2px;

  text-transform: uppercase;

  background: transparent;

  line-height: 30px;

  padding: 0 30px;

  cursor: pointer;

  transition: all 0.3s ease;

  font-family: 'Open Sans Condensed', sans-serif;
}

.button:hover {
  background: #f8e4e4;

  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
}
